<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Randall Jamison. It uses data from mapbox.com and darksky.net</p>
<img src ="https://i.guim.co.uk/img/static/sys-images/Arts/Arts_/Pictures/2009/2/20/1235150177056/Smiley-001.jpg?width=700&quality=85&auto=format&fit=max&s=1d0392e018c7c673e6740c7182aad3ba">

    </div>
    
    {{>footer}}
</body>

</html>